body{
  margin: 0;
  border: 10px solid lightblue;
}

img{
  vertical-align: top;
  max-width: 100%;
}

img#img-responsive{
  display: none;
}

@media screen and (max-width:768px){
  img{
    display: none;
  }
  
  img#img-responsive{
    display: block;
  }
}